@import url(https://fonts.googleapis.com/css?family=Rowdies:300,regular,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 18px;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #FAFAFA;
}

a {
  color: #6751B2;
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  width: 100%;
}

main header {
  background-image: url("../img/bg.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 55vh;
  width: 100%;
  color: #FFFFFF;
}

main header #headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(69, 37, 172, 0.5);
  height: 100%;
  width: 100%;
  padding: 2rem;
}

main header #headerContent .container > * {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main header #headerContent #headerHeading {
  color: #FAFAFA;
  font-family: 'Rowdies', serif;
  font-size: 5rem;
}

main header #headerContent #headerCTA {
  text-transform: uppercase;
}

main header #headerContent #headerCTA #signUpButton {
  border-radius: 5px;
  background-color: #E75E88;
  border: 1px solid #E75E88;
}

main header #headerContent #headerCTA #signInButton {
  border-radius: 5px;
  color: #E75E88;
  border: 1px solid #E75E88;
}

main header #headerContent #headerCTA #signInButton:hover {
  background-color: #E75E88;
  color: white;
}

main .descriptions {
  text-align: center;
}

main .descriptions #updates,
main .descriptions #businesses,
main .descriptions #info {
  padding: 2rem;
}

main .descriptions #updates .descHeading,
main .descriptions #businesses .descHeading,
main .descriptions #info .descHeading {
  font-weight: 700;
  color: #6751B2;
  text-transform: uppercase;
}

main .descriptions #updates .descIcon,
main .descriptions #businesses .descIcon,
main .descriptions #info .descIcon {
  font-size: 4rem;
}

main .descriptions #updates .descIcon i,
main .descriptions #businesses .descIcon i,
main .descriptions #info .descIcon i {
  color: #5a5a5a;
  opacity: .5;
}

main .descriptions #updates .descText,
main .descriptions #businesses .descText,
main .descriptions #info .descText {
  font-size: .8rem;
  color: #5a5a5a;
  text-align: justify;
  text-justify: auto;
}

footer {
  position: fixed;
  width: 100%;
  height: 5vh;
  background-color: #6751B2;
  bottom: 0;
}

.nav_wrapper {
  position: fixed;
  width: 100%;
  background-color: #FAFAFA;
  height: 60px;
  -webkit-box-shadow: 0 0 10px -5px #5a5a5a;
          box-shadow: 0 0 10px -5px #5a5a5a;
}

.nav_wrapper .container {
  height: 100%;
}

.nav_wrapper .container .nav-section-left {
  height: 100%;
}

.nav_wrapper .container .nav-section-left .brand_logo {
  font-family: 'Rowdies', serif;
  color: #6751B2;
  font-size: 3rem;
  line-height: 1;
  cursor: pointer;
}

.nav_wrapper .container .nav-section-right {
  height: 100%;
}

.nav_wrapper .container .nav-section-right ul {
  margin-top: 1rem;
  font-size: .8rem;
}

.nav_wrapper .container .nav-section-right .dropdown-menu {
  text-transform: capitalize;
}
/*# sourceMappingURL=style.css.map */