$mainColor: #6751B2;
$bgMainColor: #6751b226;
$accentColor: #E75E88;
$grey: #606060;
$black: #202020;
$offWhite: #FAFAFA;
$white: #FFFFFF;
$alert: #FCD8A2;
$alert: #FCD8A226;
$success: #A2FCAB;
$bgSuccess: #A2FCAB26;
$danger: #FCA2A2;
$bgDanger: #FCA2A226;