{% extends 'neighborhood/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
<main class="container" id="bs">
    <div id="neighborhoodName" class="my-3 p-2 card">{{user.profile.neighborhood.name}}</div>
    <a id="newPostBtn" class="btn btn-primary btn-sm " href="#" role="button"><i class="fa fa-pencil"
            aria-hidden="true"></i> Add Business</a>

    <section id="businesses">
        {% for business in businesses %}
        <div class="card d-flex flex-row align-items-center mt-3">
            <div class="business-image me-3">
                <img src="{{business.bs_image.url}}" alt="Business Image" class="img-fluid img-responsive">
            </div>
            <div class="business-text">
                <p><strong> {{ business.name }}</strong></p>
                <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{business.phone}}</p>
                <p><i class="fa fa-clock" aria-hidden="true"></i> {{business.start_day}}-{{business.end_day}}, {{ business.open_time }}
                    - {{ business.close_time }}</p>
            </div>
        </div>
        {%endfor%}
    </section>
</main>
{%endblock%}