<div class="nav_wrapper container-fluid">
    <nav class="container d-flex justify-content-between align-items-center">
        <div class="nav-section-left">
            <a class="brand_logo" href="{% url 'index' %}">n</a>
        </div>
        <div class="nav-section-right d-flex align-items-center">
            <ul class="d-flex text-uppercase">
                <li class="ms-4"><a href="{% url 'feed' %}">Feed</a></li>
                <li class="ms-4"><a href="#">Businesses</a></li>
                <li class="ms-4"><a href="#">Neighborhood</a></li>
                <li class="ms-4 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><a href="#">Account</a>
                </li>
                <ul class="dropdown-menu p-3">
                    <li><a href="#"><i class="fa fa-user pe-2" aria-hidden="true"></i> Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a href="#"><i class="fa fa-power-off pe-2" aria-hidden="true"></i> Logout</a></li>
                </ul>
            </ul>
        </div>
    </nav>
</div>