<div class="nav_wrapper container-fluid">
    <nav class="container d-flex justify-content-between align-items-center">
        <div class="nav-section-left">
            <a class="brand_logo" href="{% url 'index' %}">n</a>
        </div>
        <div class="nav-section-right d-flex align-items-center">
            <ul class="d-flex text-uppercase">
                <li class="ms-4"><a href="{% url 'feed' %}">Feed</a></li>
                <li class="ms-4"><a href="{% url 'businesses' %}">Businesses</a></li>
                <li class="ms-4"><a href="{% url 'neighborhood' %}">Neighborhood</a></li>
                <li class="ms-4 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><a href="#">Account {%if user.is_authenticated %}({{user.username}}) {% endif %}</a>
                </li>
                <ul class="dropdown-menu p-3">
                    <li><a href="{% url 'profile'%}"><i class="fa fa-user pe-2" aria-hidden="true"></i> Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout'%}"><i class="fa fa-power-off pe-2" aria-hidden="true"></i> Logout</a>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login'%}"><i class="fas fa-sign-in-alt pe-2"></i> Login</a>
                    </li>
                    {%endif%}
                </ul>
            </ul>
        </div>
    </nav>
</div>